* {
  box-sizing: border-box;
}
body{
  background-color: #FFFFFF;
}

section{
  background-color: #FFFFFF;
}
.expression{
  margin-top: 10px;
  width: 85%;
  padding-left: 10px;
  font-size: 16px;
}
.container {
  width: 100%;
  background-color: #FFFFFF;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  padding-top: 0px;
  margin-top: 35px;
}

.box {
  color: #98a1b3;
  background-color: #e5e7eb80;
  width: 252px;
  height: 354px;
  margin: 10px;
  border-radius: 16px;
  flex-shrink: 0;
  padding: 10px;
}

#box1 {
  margin-left: 0px;
}
.tasks-title {
  color: black;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;

}
@media (max-width: 1200px) {
  .box-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box {
    width: calc(50% - 30px); /* Adjust for gap and margins */
    max-width: 300px;
  }
}
@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
  .box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .box {
    width: 100%;
    max-width: 350px;
  }
}
