* {
  box-sizing: border-box;
}

.container {
  margin-top: 130px;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  padding: 10px;
  margin-top: 35px;
}

.box {
  color: #98a1b3;
  background-color: #e5e7eb80;
  width: 270px;
  height: 270px;
  margin: 5px;
  border-radius: 7px;
}

#box1 {
  margin-left: 90px;
}
.tasks-title {
  color: black;
}
@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
  .box {
    width: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .box {
    width: 100%;
  }
}
