body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 130px;
  padding: 0 10px;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.box {
  color: #98a1b3;
  background-color: #e5e7eb80;
  width: calc(15% - 20px);
  height: 290px;
  border-radius: 7px;
  padding: 10px;
  min-width: 250px;
  max-width: 300px;
  margin: 0;
}

#box1 {
  margin-left: 0;
}

.tasks-title {
  color: black;
  margin: 10px 0;
  text-align: center;
}
