/*

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  background-color: #f9fafb;
  color: #e5e7eb;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*/